<header>
  <title>TinyURL</title>
  <% if (users[user_id]) { %>
    <form action="/logout" method="POST">
        <%= users[user_id].email %>
        <a href="/urls">My Links</a>
        <input type="submit" value="Logout" />
    </form>
  <% } else { %>
    <form action="/login" method="POST">
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </form>
  <% } %>
</header>
