<header>
  <title>TinyURL</title>
  <% if (username) { %>
    <form action="/logout" method="POST">
      <p>
        Hello <%= username %>
        <input type="submit" value="Logout" />
      </p>
    </form>
  <% } else { %>
    <form action="/login" method="POST">
      <input type="text" name="username" />
      <input type="submit" value="Sign In" />
    </form>
  <% } %>
</header>
