<!DOCTYPE html>
<html lang="en">
  <% include ./partials/_header.ejs %>
  <body>
    <h2>Short URL: <%= shortURL %></h2>
    <h3>Long URL: <%= longURL %></h2>
    <form method="POST" action="/urls/<%= shortURL %>/update" style="margin-bottom:15px;">
      <input name="newURL" type="text" />
      <input type="Submit" value="Update" />
    </form>
    <a href="/urls"> See all urls </a>
  </body>
</html>
