<html>
  <body>
    <p>To add a new post either <a href="/register">Sign Up</a> or </p>
    <p>Login: </p>
    <form action="/login" method="POST" style="margin-bottom: 15px;">
      <input type="email" name="email" placeholder="Email"/>
      <input type="password" name="password" placeholder="Password" />
      <input type="submit" value="Sign In" />
    </form>
  </body>
</html>
