<!DOCTYPE html>
<html lang="en">
  <% include ./partials/_header.ejs %>
  <body>
    <h2>Short URL: <%= shortURL %></h2>
    <h3>Long URL: <%= longURL %></h2>
    <form method="POST" action="/urls/<%= shortURL %>" style="display: inline;">
      <input name="newURL" type="text" placeholder="http://"/>
      <input type="Submit" value="Update" />
    </form>
    <form method="POST" action="/urls/<%= shortURL %>/delete" style="display: inline;">
      <input type="Submit" value="Delete" />
    </form>
  </body>
</html>
