<!DOCTYPE html>
<html lang="en">
  <% include ./partials/_header.ejs %>
  <body>
      <h3>My Tiny URL's</h3>
      <% for (const key in users[user_id].links) { %>
        <div style="display: block; margin-bottom: 15px;">
          <form method="GET" action="/urls/<%= key %>" style="display: inline;">
            <%= key + " -> " + users[user_id].links[key] %>
            <input type="submit" value="Edit" />
          </form>
          <form method="POST" action="/urls/<%= key %>/delete" style="display: inline;">
              <input type="submit" value="Delete" />
          </form>
        </div>
      <% } %>
      <a href='/urls/new' style="display: inline-block;">Shorten a new URL</a>
  </body>
</html>
